html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.gradient-custom-2 {
  // background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  background: linear-gradient(to right, #38038b, #ca2275);
}

.card {
  box-shadow: -17px 19px 20px 0px rgba(0, 0, 0, 0.5);
}

.small {
  font-style: italic;
}
